.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
