.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #858481;
}
.nav-header {
  color: #000000;
  font-size: 30px;
}
.orders-container {
  display: flex;
}
.nav-route {
  color: gray;
  font-size: 20px;
  margin-right: 10px;
}
.cart-container {
  display: flex;
  flex-direction: column;
}
.cart-count {
  background-color: orangered;
  color: #ffffff;
  font-size: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.cart-icon {
  font-size: 20px;
  margin-top: 0px;
}
